<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.prathwish.transcribe</string>
    <key>CFBundleName</key>
    <string>Transcribe</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This tool uses speech recognition to transcribe audio files.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This tool needs access to the microphone for speech recognition.</string>
</dict>
</plist>
